<!doctype html>
<html lang="en">
  <% include partials/head %>
  <body>
    <div class="counter">
      <h1 class="count appear"><%= count %> (<%= trend %>)</h1>
      <div>
        <% for(var i = 0; i < stores.length; i++) { %>
          <%= stores[i].store %> (<%= stores[i].stock %>)<% if (i != stores.length-1) { %>,<%}%>
        <% } %>
      </div>
    </div>
  </body>
</html>